.imageProject {
  @apply flex flex-col flex-1 gap-3;
}
.imageProject__box {
  @apply p-5 relative flex-1 bg-white rounded;
  box-shadow: var(--box-shadow);
  table {
    @apply w-full border-collapse;
    tr {
      td,
      th {
        border-bottom: 1px solid #dee2e6;
        padding: 5px 10px;
        text-align: left;
      }
    }
  }
}
.imageProject__control {
  @apply flex justify-between items-center;
  input {
    @apply px-3 py-1 text-sm;
    border-radius: 3px;
    border: 1px solid #ced4da;
    outline: none;
    background: #fff;
  }
}
.imageProject__create {
  @apply py-2 px-5 rounded;
  color: #fff;
  background-color: #06d2eb;
  border-color: #06d2eb;
  transition: all 0.2s linear;
  &:hover {
    background-color: #05b1c6;
    border-color: #05a6b9;
  }
}
